page-home {
    .rectangle {
        width: 100%;
        height: 100px;
        border-radius: 15px;
        background-color: #2d3f60;
        border-style: solid;
        border-width: 2px;
        border-color: #ffffff;
        display: flex;
        padding: 10px;
        justify-content: flex-start;
        align-items: center;
    }

    .data {
        width: 100px; 
        display: flex; 
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;        
    }

    .layer {
        font-size: 68px;
        font-weight: bold;
        font-style: normal;
        text-align: center;
        color: #ffffff;
        margin-top: -12px;
    }

    .mes {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        text-align: center;
        color: #ffffff;
        margin-top: -10px;
    }

    .mensagem {
        width: 100%;
        height: 100%;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        text-align: left;
        color: #ffffff;
        float: left;
    }

    .col {
        padding: 0px;
        height: 80px;
    }

    .texto-menu {
        font-size: 15px;
        font-weight: 600;
        font-style: normal;
        text-align: center;
        color: #ffffff;
    }

    .scroll-mensagem  .scroll-content {
        padding: 0px 5px 0px 10px !important;
    }
}