page-ensino {
    .scroll-content {
        padding: 0px !important;
    }

    .titulo {
        font-size: 32px;
        font-weight: 600;
        text-align: center;
        color: #ffffff;
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0px;
        padding-top: 16px;
    }

    .card {
        //border-radius: 15px;
        background-color: #2d3f60;
        border-style: solid;
        border-width: 2px;
        border-color: #ffffff;
        color: #ffffff;
    }

    .card-title {
        font-size: 20px;
        font-weight: 600;
        color: #ffffff;
        padding: 0px 0px 0px 0px;
    }

    .texto {
        font-size: 14px;
        color: #ffffff;
    }

    video::-webkit-media-controls-panel {
        width: 100%;
        height: 30px;
        margin-top: 18px;
    }

}