page-signup {
    .photo-moldura {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        background-color: #2d3f60;
        border-style: solid;
        border-width: 4px;
        border-color: #ffffff;
        margin: 0px auto;
    }

    .photo-button {
        z-index: 2;
        position: absolute;
        left: 53%;
        top: 39%;
        color: #ffffff;
    }

    .photo {
        height: 92px;
        margin-top: 0px;
        border-radius: 92px;
    }

    .privacy-button { 
        font-size: 13px;
        color: #ffffff;
        margin: 0px 0px 0px 0px;
        text-decoration: none;
        text-shadow: 0px 1.5px 3px #000000;
    }
    
    .col {
        padding: 4px 2px 4px 2px;
    }

    .datetime-text:empty:not(:focus):before{
        content: "Data Nascimento"
    }
}